body {
    background-color: white;
}

.navbar-perso {
    border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1000;
}
.navbar-perso a {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-decoration: none;
}

.navbar-perso a:hover {
    *color: black;
}

.container-fluid,
.container {
    padding-top: 70px;
}

.pic_div {
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    margin-bottom: 40px;
    padding: 0px;
}

.pic_div .pic_header {
    margin-left: 10px;
}

footer {
    text-align: center;
}

.admin_menu .btn {
    width: 100%;
    margin-bottom: 20px;
}

.pagination .active {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.div_picture {
    padding-left: 0px;
    padding-right: 0px;
    height: 150px;
}
.div_picture,
.div-btn-center {
    text-align: center;
}
.div_picture img {
    height: 150px;
}

.pic_div a {
    text-decoration: none;
    color: #a22728;
}

a .icon {
    height: 20px;
}

.table-center th,
.table-center td {
    text-align: center;
}

.table-center th a {
    text-decoration: none;
    color: black;
}

.admin-titre {
    text-align: center;
    padding-bottom: 20px;
}

.article-div p {
    word-wrap: break-word;
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-div span {
    font-size: 10px;
}

.text-article {
    text-align: justify;
    text-indent: 50px;
}

.image-div-view img {
    margin-bottom: 20px;
}
